@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  background-color: #191820;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #fff;
}

.form,
.content {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    resize: none;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  color: #fff;
}

.h2 {
  color: #fff;
}

.h3 {
  color: #fff;
}

.p {
  color: #fff;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.profilepic {
  border-radius: 50%;
}

.pfp-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.pfp-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
      width: 90%;
  }

  .heading h1 {
      font-size: 2rem;
  }

  .heading p {
      font-size: 1.5rem;
  }
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.profile-picture-section {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.profile-picture {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}


.edit-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #282c31;
  color: #fff;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #3e4a61;
}

.socials-section{
  padding-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: horizontal;
}
.games-section {
  padding-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: column; /* Change direction to column */
}

.games-list{
  display: flex; /* Change to grid */
  flex-direction: row;
  gap: 10px; /* Add some space between the game cards */
  list-style: none;
  align-items: center;
  align-self: center;
  padding-bottom: 100px;
}

.game-info {
  color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex; /* Make the game info a flex container */
  flex-direction: column; /* Arrange game info in a column */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.game-info h3 {
  margin-left: 20%;
}

.name-bio-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: start;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.game-info:hover {
  transform: scale(1.05); /* Enlarge the game card slightly */
  transition: transform 0.2s ease-in-out; /* Animate the transformation */
}

.pic-name-bio-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  align-items: flex-start; 
}

.game-logo{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.game-line  {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
}


.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
  padding: 10%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(233, 228, 228, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.game-options {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  width: 400px;
  height: 100px;
}

.game-options div {
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
}

.game-options div:hover {
  transform: scale(1.1);
  border: 2px solid rgb(230, 39, 39);
}

.bio-input {
  position: relative;
}

.bio-input textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  line-height: 1.5;
  resize: none;
  font: inherit;
}

.file-upload {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: #191820;
  color: #fff;
  font-family: inherit;
}

.file-upload:hover {
  background: #282c31;
  transition: background 0.3s ease;
}

.lfg-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ff6363;
  color: #ff6363;
  font-family: 'Poppins', sans-serif;
  height: 120px;
}

.lfg-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.lfg-post-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lfg-post-user-id {
  font-weight: bold;
}

.lfg-post-status {
  margin-left: auto;
}

.reactionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #282a36;
  margin-bottom: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.reactionsContainer > img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.lfg-post-status-open {
  color: #77c277;
}

.lfg-post-status-closed {
  color: #ff6363;
}

.lfg-post-status-almost-full {
  color: #ffe44d;
}

.lfg-post-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-image {
  width: 5px;
  height: 5px;
}

.lfg-post-notes-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.lfg-post-notes {
  color: #fff;
}

.lfg-post-game,
.lfg-post-server,
.lfg-post-players,
.lfg-post-rank {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lfg-post-game-icon,
.lfg-post-server-icon,
.lfg-post-players-icon,
.lfg-post-rank-icon {
  color: #ff6363;
}

.lfg-post-game,
.lfg-post-server,
.lfg-post-players,
.lfg-post-rank {
  color: #ff6363;
  font-weight: 400;
}

.post-card {
  background-color: #282a36;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #333;
  max-width: 600px; /* Adjust as needed */
  width: 100%;
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ff6363;
}

.post-user-name {
  font-weight: 700;
  font-size: 1rem;
}

.post-date {
  font-size: 0.8rem;
  color: #888;
}

.post-body {
  padding: 15px;
}

.post-image {
  width: 25%;
  height: auto;
}

.post-text {
  margin-top: 10px;
  font-size: 0.9rem;
}

.socials {
  display: flex;
  flex-direction: row;
}
